option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    products: https://dxrqxeehg8.execute-api.eu-west-1.amazonaws.com/dev
    product: https://dxrqxeehg8.execute-api.eu-west-1.amazonaws.com/dev
    profile: https://g45uoojkg3.execute-api.eu-west-1.amazonaws.com/shestak2039-cart-api/api
